body,
html {
  height: 100%;
}

body {
	font-size: 16px;
	font-family: cursive;
	text-align: center;
	margin: auto;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1 0 auto;
	display: flex;
	flex-direction: column;
}

h1,
h2,
h3 {
	font-family: "Indie Flower", cursive;
	line-height: 35px;
	margin: 0;
	text-transform: uppercase;
}

ul {
	list-style: none;
	display: flex;
	justify-content: space-around;
	padding-left: 0;
}

header {
  box-shadow: 5px 0 8px #888;
	display: flex;
  flex: 0 0 250px;
}

footer {
	flex: 0 0 20px;
	background-color: #b1b1d2;
	margin-top: 30px;
	text-align: left;
	padding-left: 20px;
}

.social-logo {
	font-size: 30px;
}

.udacity-logo {
	width: 180px;
}

.main-picture {
	object-fit: contain;
	max-width: 100%;
	margin-bottom: 50px;
}

.project-item {
	display: flex;
	flex-direction: column;
	flex: 1 1 auto;
}

.project-photo {
	object-fit: contain;
	margin: 30px 5px 20px 5px;
	max-width: 100%;
}

@media screen and (max-width: 510px) {
	header {
		flex-direction: column;
		align-items: center;
	}
	.header-name {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
}

@media screen and (min-width: 511px) {
	header {
		flex: 0 0 180px;
		padding-bottom: 20px;
		justify-content: space-between;
		align-items: flex-end;
	}
	.header-name {
		text-align: right;
		padding-right: 20px;
	}
}

@media screen and (min-width: 580px) {
	h1 {
		font-size: 4em;
		line-height: 50px;
	}
	h2 {
		font-size: 3em;
	}
}

@media screen and (min-width: 840px) {
	.project-item {
		width: 32%;
	}
	.project-photo {
		height: 180px;
	}
	.project-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	}
	main {
		margin-left: auto;
		margin-right: auto;
		width: 840px;
	}

}